<form class="node" ng-submit="checkUser()">

    <h1>Node</h1>
    <input class="user" type="text" ng-model="user.user" placeholder="username" />
    <input class="pass" type="password" ng-model="user.pass" placeholder="password" />
    <input class="btn"  type="submit" value="SIGN IN" />

    <hr style="background-color : #bebebe;"/>
    <hr style="background-color : #FFF; "/>

    <h5>Forgot your password? <a ui-sref="forgot">click here</a></h5>
    <h5>New Here? <a ui-sref="registration">Register</a></h5>



</form>